Source: rakuos-settings-gnome
Section: metapackages
Priority: optional
Maintainer: RakuOS Team <tohur@rakuos.org>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.2

Package: rakuos-settings-gnome
Architecture: all
Replaces: desktop-base
Depends: ${misc:Depends}
Description: Plasma Settings for RakuOS
