[Desktop Entry]
Type=Application
Version=1.0
Name=Install RakuOS
GenericName=Calamares Installer
Exec=calamares-install-rakuos
Comment=Calamares — Installer for RakuOS Live
Keywords=calamares;system;install;debian;installer
Icon=install-debian
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
